In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("pre-processing.csv")
df

,Date,Rented Bike Count,Hour,Temperature(Celsius),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(Celsius),Solar Radiation (MJ/m2),Rainfall(mm),Seasons,Holiday,Functioning Day
0,1,254,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,3,0,1
1,1,204,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,3,0,1
2,1,173,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,3,0,1
3,1,107,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,3,0,1
4,1,78,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,365,1003,19,4.2,34,2.6,1894,-10.3,0.0,0.0,2,0,1
8756,365,764,20,3.4,37,2.3,2000,-9.9,0.0,0.0,2,0,1
8757,365,694,21,2.6,39,0.3,1968,-9.9,0.0,0.0,2,0,1
8758,365,712,22,2.1,41,1.0,1859,-9.8,0.0,0.0,2,0,1
8759,365,584,23,1.9,43,1.3,1909,-9.3,0.0,0.0,2,0,1

In [3]:
x = df.drop(['Rented Bike Count'],axis=1)
x

,Date,Hour,Temperature(Celsius),Humidity(%),Wind speed (m/s),Visibility (10m),Dew point temperature(Celsius),Solar Radiation (MJ/m2),Rainfall(mm),Seasons,Holiday,Functioning Day
0,1,0,-5.2,37,2.2,2000,-17.6,0.0,0.0,3,0,1
1,1,1,-5.5,38,0.8,2000,-17.6,0.0,0.0,3,0,1
2,1,2,-6.0,39,1.0,2000,-17.7,0.0,0.0,3,0,1
3,1,3,-6.2,40,0.9,2000,-17.6,0.0,0.0,3,0,1
4,1,4,-6.0,36,2.3,2000,-18.6,0.0,0.0,3,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8755,365,19,4.2,34,2.6,1894,-10.3,0.0,0.0,2,0,1
8756,365,20,3.4,37,2.3,2000,-9.9,0.0,0.0,2,0,1
8757,365,21,2.6,39,0.3,1968,-9.9,0.0,0.0,2,0,1
8758,365,22,2.1,41,1.0,1859,-9.8,0.0,0.0,2,0,1
8759,365,23,1.9,43,1.3,1909,-9.3,0.0,0.0,2,0,1

In [4]:
y = df['Rented Bike Count'].values
y

array([254, 204, 173, ..., 694, 712, 584])

In [5]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(x,y, test_size=0.2)

In [6]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(X_train, y_train)

RandomForestRegressor()

In [7]:
res_text = model.predict(X_test)
res_text

array([ 331.52,  884.24, 1399.37, ...,  148.94,  545.71,  279.13])

In [8]:
model.score(X_train,y_train)

0.9844445563256763

In [9]:
model.score(X_test,y_test)

0.8860041376935834

In [10]:
from sklearn.metrics import mean_absolute_error
MAE = mean_absolute_error(y_test, res_text)
MAE

127.4640696347032

In [11]:
from sklearn.metrics import mean_squared_error
RMSE = mean_squared_error(y_test, res_text, squared=False)
RMSE

217.16004190550237

In [12]:
from sklearn.metrics import mean_absolute_percentage_error
MAPE = mean_absolute_percentage_error(y_test, res_text)
MAPE

5043646000495078.0